/* overall editor layout */
main:has(#escr-editor) {
    background-color: var(--background2);
    font-family: "Noto Sans", "Resized Arabic", sans-serif;
}
#escr-editor {
    display: flex;
    flex-flow: column;
}

/* generic panel styling */
div.escr-editor-tabcontent,
div.escr-editor-tabcontent .marginless.row {
    min-height: calc(100vh - 126px);
    max-height: calc(100vh - 126px);
}
div.escr-editor-tabcontent .marginless.row {
    margin: 0;
    display: flex;
    flex-flow: row;
    gap: 0;
    padding: 0;
}
div.escr-editor-tabcontent .marginless.row div.col.panel:not(:first-of-type) {
    border-left: 4px solid var(--text1);
}
#escriptorium div.escr-editor-tabcontent .col.panel {
    padding: 0;
}
#editor .escr-modal {
    color: var(--text1);
}

/* content container */
div.escr-editor-tabcontent .col.panel .content-container {
    background-color: var(--background2);
    border: none;
    border-radius: 0;
    flex: 1 0 auto;
}
div.escr-editor-tabcontent .col.panel .content-container,
div.escr-editor-tabcontent .col.panel .js-wheelzoom-container {
    min-height: calc(100vh - 180px);
    max-height: calc(100vh - 180px);
}

/* DiploPanel height override */
.panel#diplo-panel .content-container {
    overflow-y: auto;
    max-height: calc(100vh - 180px);
}

/* ensure the page background is white for VisuPanel and DiploPanel */
div.escr-editor-tabcontent #visu-zoom-container,
div.escr-editor-tabcontent #diplo-panel .content-container {
    background-color: white;
}

/* confidence visualization scale panel */
.confidence-scale {
    display: flex;
    flex-flow: column;
    padding: 0 24px;
    max-width: 210px;
}
.confidence-scale h3 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
}
.confidence-scale input[type="range"]#confidence-range {
    padding: 12px 0;
    width: 100%;
}
.confidence-scale span.small {
    font-size: 10px;
}

/* DiploPanel sort mode toggle */
.sort-mode-toggle.escr-toggle-button {
    margin-left: 16px;
}

/* DiploPanel line and cursor styling */
.escr-editor-tabcontent #diplomatic-lines > div {
    border: 1px solid transparent;
    border-left: 3px solid transparent;
    margin: 0;
}
.escr-editor-tabcontent .rtl #diplomatic-lines > div {
    border-left: 1px solid transparent;
    border-right: 3px solid transparent;
}
.escr-editor-tabcontent #diplomatic-lines div:before {
    border: none;
    font-weight: 600;
    margin-right: 1rem;
    margin-left: 0;
}
.escr-editor-tabcontent .rtl #diplomatic-lines div:before {
    margin-right: -42px;
    margin-left: 1rem;
}
.escr-editor-tabcontent #diplomatic-lines.sortmode > div {
    cursor: pointer;
    border-bottom: 1px solid var(--line-ordering-border);
}
.escr-editor-tabcontent #diplomatic-lines.sortmode div.selected {
    cursor: grab;
    background-color: var(--line-ordering-selected);
    border-left-color: var(--secondary);
}
.escr-editor-tabcontent .rtl #diplomatic-lines.sortmode div.selected {
    border-left-color: transparent;
    border-right-color: var(--secondary);
}
.escr-editor-tabcontent #diplomatic-lines.sortmode div.selected + div.selected {
    border-bottom-color: var(--line-ordering-border);
    border-top-color: transparent;
}
.escr-editor-tabcontent
    #diplomatic-lines.sortmode
    div:not(.selected):has(+ div.selected) {
    border-bottom-color: transparent;
}
.escr-editor-tabcontent
    #diplomatic-lines.sortmode
    div:not(.selected)
    + div.selected {
    border-top-color: var(--line-ordering-border);
}
.escr-editor-tabcontent #diplomatic-lines.sortmode div[draggable="true"] {
    cursor: grabbing;
}
