.escr-card-container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}
.escr-image-card {
    position: relative;
    margin: 0 15px;
    width: 220px;
    height: 248px;
    border-radius: 15px;
    background-color: var(--background1);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
}
.escr-image-card.image-selected {
    outline: 4px solid var(--secondary);
}

/* drop zones for drag and drop reordering */
.escr-part-dropzone-before,
.escr-part-dropzone-after {
    position: absolute;
    top: 0;
    width: 125px;
    height: 248px;
    background-color: transparent;
    pointer-events: none;
    z-index: var(--editor-toolbar-z);
}
.escr-part-dropzone-before.is-dragging,
.escr-part-dropzone-after.is-dragging {
    pointer-events: all;
}
.escr-part-dropzone-after {
    left: auto;
    right: 0;
    border-right: 6px solid transparent;
}
.escr-image-grid[dir="rtl"] .escr-part-dropzone-after {
    left: 0;
    right: auto;
    border-right: none;
    border-left: 6px solid transparent;
}
.escr-part-dropzone-after.drag-over {
    border-right-color: var(--secondary);
}
.escr-image-grid[dir="rtl"] .escr-part-dropzone-after.drag-over {
    border-left-color: var(--secondary);
}
.escr-part-dropzone-before {
    left: 0;
    right: auto;
    border-left: 6px solid transparent;
}
.escr-image-grid[dir="rtl"] .escr-part-dropzone-before {
    left: auto;
    right: 0;
    border-left: none;
    border-right: 6px solid transparent;
}
.escr-part-dropzone-before.drag-over {
    border-left-color: var(--secondary);
}
.escr-image-grid[dir="rtl"] .escr-part-dropzone-before.drag-over {
    border-right-color: var(--secondary);
}
/* checkbox for each image selection */
.escr-image-card label.image-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    cursor: pointer;
    user-select: none;
}
.escr-image-card label.image-checkbox input[type="checkbox"] {
    pointer-events: all;
}
.escr-image-card label.image-checkbox input[type="checkbox"] + svg,
.escr-image-card label.image-checkbox input[type="checkbox"] + svg + span::before {
    color: var(--secondary);
    width: 20px;
    height: 20px;
}
.escr-image-card label.image-checkbox input[type="checkbox"] + svg {
    display: none;
}
.escr-image-card label.image-checkbox input[type="checkbox"]:checked + svg {
    display: block;
}
.escr-image-card label.image-checkbox input[type="checkbox"] + svg + span::before {
    display: block;
    content: " ";
    box-sizing: border-box;
    border: 2px solid var(--secondary);
    border-radius: 50%;
}
.escr-image-card label.image-checkbox input[type="checkbox"]:checked + svg + span::before {
    display: none;
}
.escr-image-card label.image-checkbox:focus-within svg + span::before,
.escr-image-card label.image-checkbox:focus-within svg {
    box-shadow: 0 0 0 0.2rem  var(--secondary-focus);
    border-radius: 50%;
}

/* drag handle */
.escr-card-container .escr-drag-handle {
    position: absolute;
    width: 48px;
    height: 32px;
    top: 0;
    padding: 4px 0;
    left: calc(50% - 24px);
    background-color: var(--secondary);
    color: var(--button-text);
    text-align: center;
    cursor: move;
    z-index: var(--editor-global-toolbar-z);
}

/* drag image (what shows up while dragging) */
.escr-card-container#is-drag-image {
    position: absolute;
    top: -1000px;
    flex-flow: column;
    min-height: 240px;
    justify-content: center;
    color: var(--text1);
}
.escr-card-container#is-drag-image img {
    display: block !important;
}
.escr-card-container#is-drag-image .elements-count {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    margin-bottom: 3px;
    height: 20px;
    font-weight: 600;
    font-size: 12px;
    background-color: var(--tag-text);
    color: var(--button-text);
    z-index: var(--editor-nav-z);
}

/* image actions panel */
.escr-image-card .escr-image-actions {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    flex-flow: row nowrap;
    background-color: var(--secondary);
    padding: 3px 0.5rem;
    border-top-right-radius: 15px;
}
.escr-image-actions a {
    color: var(--button-text);
}
.escr-image-actions a:focus:not(:active),
.escr-image-actions button:focus:not(:active),
.escr-image-actions.context-menu-open .context-menu-button  {
    background-color: var(--secondary-dark);
}
.escr-image-card:hover .escr-image-actions,
.escr-image-card:focus-within .escr-image-actions,
.escr-image-actions.context-menu-open {
    display: flex;
}

/* image thumbnail */
.escr-image-card img {
    min-width: 100%;
    max-height: 144px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

/* image metadata */
.escr-image-card .filename {
    margin: 8px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    max-width: calc(100% - 16px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.escr-image-card .element-number {
    margin-top: 8px;
    font-size: 18px;
    font-weight: 700;
}

/* image task status */
.escr-image-card .image-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    max-height: 24px;
    max-width: 100%;
}
.escr-image-card .image-status div {
    padding: 0 21px;
}
.escr-image-card .image-status div:not(:last-of-type) {
    border-right: 1px solid var(--background2);
}
.escr-image-card .image-status svg {
    max-height: 20px;
    fill: var(--background2);
}
.escr-image-card .image-status svg.done {
    fill: var(--completed);
}
.escr-image-card .image-status svg.pending {
    fill: var(--initiated);
}
.escr-image-card .image-status svg.ongoing {
    fill: var(--in-progress);
}
.escr-image-card .image-status svg.error {
    fill: var(--alert);
}

/* task status tooltips */
.v-popper--theme-escr-task-tooltip .v-popper__inner {
    background-color: var(--tag-text);
    color: var(--button-text);
    fill: var(--button-text);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 8px 8px 8px 4px;
}
.v-popper--theme-escr-task-tooltip .v-popper__arrow-inner,
.v-popper--theme-escr-task-tooltip .v-popper__arrow-outer {
    display: none;
}
.v-popper--theme-escr-task-tooltip .v-popper__inner > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 16px;
    font-weight: 600;
}
.v-popper--theme-escr-task-tooltip .v-popper__inner > div > div:not(.task-metadata) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 4px;
    font-size: 12px;
}
.v-popper--theme-escr-task-tooltip .v-popper__inner svg {
    max-height: 16px;
}
.v-popper--theme-escr-task-tooltip .v-popper__inner .task-metadata {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 10px;
}
.v-popper--theme-escr-task-tooltip .v-popper__inner .task-metadata .date {
    font-weight: 400;
}

.v-popper--theme-escr-task-tooltip .v-popper__inner .task-metadata .status {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5px;
}
.v-popper--theme-escr-task-tooltip .v-popper__inner .task-metadata .status::before {
    content: " ";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--text2);
}
.v-popper--theme-escr-task-tooltip .v-popper__inner .task-metadata .status.done::before {
    background-color: var(--completed);
}
.v-popper--theme-escr-task-tooltip .v-popper__inner .task-metadata .status.pending::before {
    background-color: var(--initiated);
}
.v-popper--theme-escr-task-tooltip .v-popper__inner .task-metadata .status.ongoing::before {
    background-color: var(--in-progress);
}
.v-popper--theme-escr-task-tooltip .v-popper__inner .task-metadata .status.error::before {
    background-color: var(--alert);
}

/* special styling for normal tooltips */
.v-popper--theme-escr-tooltip-small .v-popper__inner {
    text-align: center;
    max-width: none;
}
