/* common modal styles */
.escr-modal-backdrop {
    z-index: var(--modal-backdrop-z);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--modal-backdrop);
}
.escr-modal {
    z-index: var(--modal-z);
    background-color: var(--background1);
    padding: 8px 0 16px 16px;
    border-radius: 15px;
    filter: drop-shadow(2px 4px 4px var(--drop-shadow))
        drop-shadow(-1px -1px 2px var(--drop-shadow));

    /* the following will generally be overridden, but it's similar for enough to factor out */
    width: 460px;
    position: fixed;
    top: 15%;
    left: calc(50% - 250px);
}
.escr-modal .escr-modal-content {
    overflow: auto;
    padding-right: 16px;
}
.escr-modal .escr-modal-header {
    margin: 0.5rem 16px 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.escr-modal .escr-modal-header h2 {
    margin: 0;
}
.escr-modal .escr-modal-header svg {
    width: 14px;
    height: 14px;
}

.escr-modal .escr-form-field {
    margin: 24px 0 0;
}
/* button group at end of modal */
.escr-modal .modal-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    margin-right: 16px;
}
.escr-modal .modal-actions button + button {
    margin-left: 16px;
}
